@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
  .header__menu-container {
    max-width: 960px;
  }
  .hotel-slider {
    width: 570px;
    &__img {
      height: 100%;
    }
  }
  .activities {
    &__item {
      width: 230px;
      height: 230px;
    }
  }
  .packages {
    padding: 32px 0 60px 0;
    &-grid {
      grid-gap: 20px;
    }
  }
  .footer {
    &__icon-wrapper {
      min-width: 30px;
    }
    &__input-group {
      flex-basis: 48%;
    }
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 768px;
  }
  .header {
    &__menu-link {
      font-size: 12px;
      line-height: 16px;
    }
    &__menu-container {
      max-width: 730px;
    }
    &__search-form {
      margin-right: auto;
      margin-left: 45px;
    }
    &__inner {
      padding: 31px 0;
    }
    &__menu {
      padding: 21px 0;
    }
  }
  .logo__img {
    max-width: 132px;
  }
  .search-form {
    &__input {
      max-width: 340px;
    }
  }
  .hotel {
    &__grid {
      flex-direction: column;
    }
    &__wrapper {
      flex-direction: row;
    }
  }
  .rewievs {
    &__item {
      max-width: 580px;
      &::before,
      &::after {
        display: none;
      }
    }
    &__title {
      font-size: 30px;
      line-height: 38px;
    }
    &__text {
      max-width: 455px;
    }
  }

  .hotel-slider {
    width: 100%;
    margin-bottom: 30px;
  }
  .activities {
    &__inner {
      flex-wrap: wrap;
    }

    &__item {
      width: 49%;
      height: 255px;
      margin-bottom: 20px;
    }
  }
  .packages {
    &-grid {
      grid-template-columns: repeat(2, 1fr);
    }
    &__title {
      font-size: 30px;
      line-height: 38px;
    }
  }
  .footer {
    padding-top: 70px;
    &-wrapper {
      grid-template-columns: 64px 1fr 1.25fr 1.25fr 1fr 1fr;
      grid-row-gap: 46px;
    }
    &__input-group {
      flex-basis: 47%;
    }
    &__logo {
      width: 97px;
      grid-row: 1 / 2;
      grid-column: span 1;
    }
    &__social-network {
      grid-row: 1 / 2;
      grid-column: 2 / 6;
      align-self: center;
      margin-left: 102px;
    }
    &__categories {
      grid-row: 2/3;
      grid-column: span 2;
    }
    &__additional {
      grid-column: span 2;
    }
    &__legal {
      grid-column: span 2;
      justify-self: center;
    }
    &__contact {
      &-details {
        grid-column: span 5;
        grid-row: 3;
      }
      &-form {
        grid-column: span 5;
        grid-row: 4;
      }
    }
    &__form {
      margin-bottom: 55px;
      width: 540px;
    }
    &__other {
      display: flex;
      justify-content: space-between;
    }
  }
}

@media (max-width: 790px) {
  .activities {
    &__item {
      width: 339px;
      height: 255px;
      margin-bottom: 20px;
    }
  }
  .modal__content {
    width: 400px;
    padding: 30px 30px;
  }
}

@media (max-width: 768px) {
  body {
    padding-top: 58px;
  }
  .container,
  .subscribe__inner {
    max-width: 720px;
  }
  .header {
    &__mobile--fixed {
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      z-index: 130;
    }
    &__inner {
      padding: 20px 0;
    }
    &__search-form {
      margin: 0;
      margin-bottom: 39px;
    }
    &__search-form--hidden {
      display: none;
    }
    &__menu {
      // display: none;
      position: fixed;
      top: 105%;
      right: 0;
      bottom: 0;
      left: 0;
      overflow: scroll;
      transition: all 0.2s linear;

      &--visible {
        display: block;
        top: 58px;
        left: 0;
      }
    }
    &__button-menu {
      position: relative;
      width: 16px;
      height: 11px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #fff;
      border: none;
      padding: 0;
      margin: 0;
      outline: none;
      cursor: pointer;
    }
    &__button-line {
      position: relative;
      width: 100%;
      height: 1px;
      background-color: black;
      &::before,
      &::after {
        position: absolute;
        content: '';
        width: 100%;
        height: 1px;
        background-color: black;
      }
      &::before {
        top: -6px;
        display: block;
        transition: all 0.3s;
      }
      &::after {
        bottom: -6px;
        display: block;
        transition: all 0.3s;
      }
    }
  }
  .active .header__button-line {
    background-color: transparent;
  }
  .active .header__button-line::before {
    top: 0;
    transform: rotate(45deg);
    transition: all 0.3s;
  }
  .active .header__button-line::after {
    bottom: 0;
    transform: rotate(-45deg);
    transition: all 0.3s;
  }
  .user {
    flex-direction: column;
    justify-content: center;
    &__name {
      margin: 0;
      margin-top: 10px;
      color: #fff;
    }
    &--hidden {
      display: none;
    }
  }

  .header__menu {
    &-list {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    &-item {
      margin: 0;
      margin-bottom: 20px;
    }
    &-item--hidden {
      display: block;
    }
  }
  .breadcrumb {
    padding: 10px 0;
    &__list {
      margin: 0;
    }
  }
  .hotel {
    &__content {
      width: 340px;
    }
    &__map {
      width: 340px;
      height: 213px;
    }
  }
  .hotel-slider {
    height: 350px;
  }
  .subscribe__inner {
    padding: 0 10px;
  }
  .subscribe {
    width: 100%;
  }
  .rewievs {
    padding-top: 40px;
    padding-bottom: 50px;
  }
  .activities {
    padding-top: 40px;
    padding-bottom: 60px;
  }
  .packages {
    padding-top: 0;
    padding-bottom: 40px;
    &-grid {
      grid-template-columns: 1fr;
      grid-gap: 0;
      grid-row-gap: 20px;
    }
    &__title {
      font-size: 18px;
      line-height: 23px;
      margin-top: 0;
      margin-bottom: 40px;
    }
  }
  .package {
    width: 100%;
    &--main {
      grid-column: 1;
    }
    &__container {
      width: 100%;
      &--main {
        flex-basis: 100%;
        height: 50%;
      }
    }
    &__image--main {
      object-position: right 40%;
    }
    &__offer {
      padding: 4px 9px;
      font-style: normal;
      font-weight: 600;
      font-size: 8px;
      line-height: 10px;
    }
    &__info {
      align-content: space-between;
      width: 100%;
      padding: 20px;
      &--main {
        flex-basis: 100%;
        height: 250px;
      }
    }
    &__rating {
      display: none;
      &-title {
        width: 100%;
      }
    }
    &__title {
      flex-basis: 100%;
    }
    &__rooms {
      flex-basis: 100%;
    }
    &__text {
      display: none;
    }
  }
  .footer {
    padding-bottom: 20px;
    &-wrapper {
      grid-template-columns: 1fr;
      grid-row-gap: 30px;
      grid-column-gap: 0;
    }
    &__logo {
      grid-row: 1;
      grid-column: 1;
    }
    &__title {
      flex-basis: 100%;
      margin-bottom: 20px;
    }
    &__text {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 160%;
    }
    &__ul {
      padding-left: 0;
    }
    &__social-network {
      flex-wrap: wrap;
      grid-row: 2;
      grid-column: 1;
      margin-left: 0;
    }
    &__legal {
      justify-self: start;
      grid-row: 3;
      grid-column: 1;
    }
    &__additional {
      grid-row: 4;
      grid-column: 1;
    }
    &__categories {
      grid-row: 5;
      grid-column: 1;
    }
    &__input-group {
      flex-basis: 48%;
    }
    &__form {
      margin-bottom: 30px;
      width: 100%;
    }
    &__contact-details {
      grid-row: 6;
      grid-column: 1;
    }
    &__contact-form {
      grid-row: 7;
      grid-column: 1;
    }
    &__message {
      margin-bottom: 15px;
    }
    &__button {
      order: 1;
    }
    &__info {
      flex-basis: 100%;
      margin-bottom: 15px;
    }
  }
}

@media (max-width: 710px) {
  .hotel__wrapper {
    flex-direction: column;
  }
  .hotel__content {
    width: 100%;
    margin-bottom: 20px;
  }
  .hotel__map {
    width: 100%;
  }
  .hotel-slider {
    height: 300px;
    margin-bottom: 20px;
  }
  .subscribe__inner {
    flex-direction: column;
    align-items: flex-start;
  }
  .subscribe__title {
    margin-bottom: 37px;
  }
  .modal__content {
    width: 300px;
    padding: 30px 20px;
    overflow: scroll;
  }
  .modal__button {
    min-width: 100px;
  }
  .modal__message {
    width: 100%;
    min-height: 80px;
  }
}
@media (max-width: 678px) {
  .header {
    &__search-form {
      max-width: 245px;
    }
  }
  .activities {
    &__item {
      width: 48%;
      height: 255px;
      margin-bottom: 20px;
    }
    &__title {
      margin-bottom: 36px;
    }
  }
}

@media (max-width: 576px) {
  .hotel__ratting {
    display: none;
  }
  .hotel {
    padding-top: 5px;
    // &__ratting {
    //   display: none;
    // }
    &__text-inner {
      justify-content: space-between;
    }
    &__text {
      width: 100%;
    }
    &__title {
      flex-basis: 100%;
    }
    &__offer {
      order: -1;
      margin-bottom: 10px;
    }
  }
  .stars {
    flex-basis: auto;
    margin-bottom: 16px;
  }
  .hotel__content {
    padding: 27px 22px;
  }
  .hotel-slider {
    &__button {
      width: 12px;
      height: 12px;
      &--prev {
        left: 6px;
        background-image: url('../img/lowprew.svg');
      }
      &--next {
        right: 6px;
        background-image: url('../img/lownext.svg');
      }
    }
  }
  .subscribe {
    padding: 76px 0 83px;
    &__title {
      font-size: 20px;
      line-height: 25px;
    }
    &__subtitle {
      font-size: 30px;
      line-height: 38px;
    }
    &__search {
      width: 100%;
    }
  }
  .rewievs-slider {
    &__button {
      top: 45px;
    }
  }
  .rewievs__item {
    padding-left: 30px;
    padding-right: 30px;
  }
  .rewievs__title {
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 42px;
  }
  .rewievs__text {
    text-align: left;
  }
  .activities {
    &__item {
      width: 100%;
      height: 255px;
      margin-bottom: 20px;
    }
  }
  .package__button {
    padding: 11px 15px;
  }
  .footer {
    &__input-group {
      flex-basis: 100%;
    }
    &__other {
      flex-wrap: wrap;
    }
    &__responsibility {
      flex-basis: 100%;
    }
  }
  .responsibility {
    &__item {
      margin-bottom: 10px;
    }
  }
  .modal__content {
    width: 96%;
    padding: 30px 10px;
  }
}

@media (max-width: 400px) {
  .hotel-slider {
    height: 180px;
  }

  .rewievs-slider__button--next {
    right: 55px;
  }
  .rewievs-slider__button--prev {
    left: 55px;
  }
  .activities {
    &__item {
      width: 100%;
      height: 255px;
    }
  }
  .responsibility {
    display: flex;
    justify-content: space-between;
    &__item {
      margin-right: 0;
    }
  }
}

@media (max-width: 320px) {
  .activities {
    &__item {
      width: 280px;
      height: 255px;
    }
  }
}
