@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
  .header__menu-container {
    max-width: 960px;
  }
  .hotel-slider {
    width: 570px;
    &__img {
      height: 100%;
    }
  }
  .subscribe {
    background-image: url('../../img/subbg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 center;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 768px;
  }
  .header {
    &__menu-link {
      font-size: 12px;
      line-height: 16px;
    }
    &__menu-container {
      max-width: 730px;
    }
    &__search-form {
      margin-right: auto;
      margin-left: 45px;
    }
    &__inner {
      padding: 31px 0;
    }
    &__menu {
      padding: 21px 0;
    }
  }
  .logo__img {
    max-width: 132px;
  }
  .search-form {
    &__input {
      max-width: 340px;
    }
  }
  .hotel {
    &__grid {
      flex-direction: column;
    }
    &__wrapper {
      flex-direction: row;
    }
  }
  .rewievs {
    &__item {
      max-width: 580px;
      &::before,
      &::after {
        display: none;
      }
    }
    &__text {
      max-width: 455px;
    }
  }

  .hotel-slider {
    width: 100%;
    margin-bottom: 30px;
  }
}

@media (max-width: 768px) {
  .container,
  .subscribe__inner {
    max-width: 720px;
  }
  .header {
    &__inner {
      padding: 20px 0;
    }
    &__search-form {
      display: none;
    }
    &__menu {
      display: none;
    }
    &__button-menu {
      width: 16px;
      height: 11px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-color: #fff;
      border: none;
      padding: 0;
      margin: 0;
      outline: none;
      cursor: pointer;
    }
    &__button-line {
      width: 16px;
      height: 1px;
      background-color: black;
    }
  }
  .user {
    display: none;
  }
  .breadcrumb {
    padding: 10px 0;
    &__list {
      margin: 0;
    }
  }
  .hotel {
    &__content {
      width: 340px;
    }
    &__map {
      width: 340px;
      height: 213px;
    }
  }
  .hotel-slider {
    height: 350px;
  }
  .subscribe__inner {
    padding: 0 10px;
  }
}

@media (max-width: 710px) {
  .hotel__wrapper {
    flex-direction: column;
  }
  .hotel__content {
    width: 100%;
    margin-bottom: 20px;
  }
  .hotel__map {
    width: 100%;
  }
  .hotel-slider {
    height: 300px;
    margin-bottom: 20px;
  }
  .subscribe__inner {
    flex-direction: column;
    align-items: flex-start;
  }
  .subscribe__title {
    margin-bottom: 37px;
  }
}

@media (max-width: 576px) {
  .hotel__ratting {
    display: none;
  }
  .hotel {
    padding-top: 5px;
    // &__ratting {
    //   display: none;
    // }
    &__text-inner {
      justify-content: space-between;
    }
    &__text {
      width: 100%;
    }
    &__title {
      flex-basis: 100%;
    }
    &__offer {
      order: -1;
      margin-bottom: 10px;
    }
  }
  .stars {
    flex-basis: auto;
    margin-bottom: 16px;
  }
  .hotel__content {
    padding: 27px 22px;
  }
  .hotel-slider {
    &__button {
      width: 12px;
      height: 12px;
      &--prev {
        left: 6px;
        background-image: url('../img/lowprew.svg');
      }
      &--next {
        right: 6px;
        background-image: url('../img/lownext.svg');
      }
    }
  }
  .subscribe {
    padding: 76px 0 83px;
    &__title {
      font-size: 20px;
      line-height: 25px;
    }
    &__subtitle {
      font-size: 30px;
      line-height: 38px;
    }
    &__search {
      width: 100%;
    }
  }
  .rewievs-slider {
    &__button {
      top: 45px;
    }
  }
  .rewievs__item {
    padding-left: 30px;
    padding-right: 30px;
  }
  .rewievs__title {
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 42px;
  }
}

@media (max-width: 476px) {
  .hotel-slider {
    height: 250px;
  }
}

@media (max-width: 400px) {
  .hotel-slider {
    height: 180px;
  }

  .rewievs-slider__button--next {
    right: 55px;
  }
  .rewievs-slider__button--prev {
    left: 55px;
  }
}
