* {
  box-sizing: border-box;
  &::after {
    box-sizing: border-box;
  }
  &::before {
    box-sizing: border-box;
  }
}

body {
  width: 100%;
  font-family: 'Mulish', sans-serif;
  color: $text-color;
  background-color: $secondary;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1130px;
  padding: 0 10px;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

.invalid {
  color: $primary;
  font-size: 12px;
}
