.modal {
  &__overlay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 100;
    background: rgba(0, 143, 223, 0.39);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s linear;
    &--visible {
      visibility: visible;
      opacity: 1;
    }
  }

  &__content {
    padding: 33px 87px;
    width: 478px;
    background: #0a223d;
    border-radius: 8px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 140;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s linear;
    &--visible {
      visibility: visible;
      opacity: 1;
    }
  }

  &__btn {
    position: absolute;
    top: 17px;
    right: 17px;
    text-decoration: none;
    cursor: pointer;
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
  }

  &__form {
    display: block;
    width: 100%;
  }

  &__input-group {
    width: 100%;
    margin-top: 15px;
  }

  &__input {
    width: 100%;
  }
  &__message {
    width: 100%;
    min-height: 123px;
    margin-top: 15px;
  }

  &__button {
    margin-top: 15px;
    min-width: 160px;
    min-height: 50px;
  }
  &__info {
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    color: #e0e0e0;
  }
}
